[Desktop Entry]
Name=BigSnatch
Comment=Real-time network connection monitor
GenericName=Network Monitor
Exec=/usr/bin/bigsnatch
Terminal=false
Type=Application
Icon=bigsnatch
Categories=Network;Monitor;System;Security;
Keywords=network;firewall;monitor;connections;snitch;ebpf;
StartupWMClass=bigsnatch
